/* CSS Document */

/*
  Primary Styles
  Author: Kyle Durand
*/

@import url("menu.css");
@import url(http://fonts.googleapis.com/css?family=Dosis);
@import url(http://fonts.googleapis.com/css?family=Anton);

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

h1 {
  font-size: 34px;
  font-family: "Dosis";
  margin: 0;
  font-weight: lighter;
  line-height: 30pt;
  color: #4c4c4c;
}

h2 {
  font-size: 26px;
  font-family: "Dosis";
  margin: 8px 0;
  font-weight: 600;
  color: #006db7;
}

h3 {
  font-size: 24px;
  font-family: "Dosis";
  margin: 8px 0;
  font-weight: lighter;
  line-height: 20pt;
  color: #4c4c4c;
}

h4 {
  font-size: 18px;
  font-family: "Dosis";
  margin: 8px 0;
  font-weight: lighter;
  color: #333;
}

h5 {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 8px 0;
  color: #color: #333;
  !important;
}

h6 {
  font-size: 20px;
  font-family: "Anton";
  margin: 8px 0;
  line-height: 20pt;
  color: black;
  letter-spacing: 2px;
  font-weight:lighter;
}

h2.services {
  font-size: 27px;
  font-family: "Dosis";
  margin: 0px;
  font-weight: lighter;
  line-height: 20pt;
  color: #4c4c4c;
  margin-top: 20px
}

.quote {
  position: relative;
  margin-left: 24px;
}

.quote:before {
  display: inline-block;
  content: "“";
  position: absolute;
  top: -25px;
  left: -27px;
  font-size: 80px;
  opacity: 0.75;
}

.quote:after {
  position: relative;
  display: inline-block;
  content: "”";
  top: 37px;
  font-size: 80px;
  line-height: 0px;
  opacity: 0.75;
}

h1.services {
  font-size: 27px;
  font-family: "Dosis";
  margin: 0px;
  font-weight: lighter;
  line-height: 20pt;
  color: #4c4c4c;
  margin-top: 20px
}

.hero-title {
  font-family: "Anton";
  font-size: 40px;
  line-height: 42px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333;
}

.small p {
  font-size: 9px;
}

ul {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  list-style-type: cicrle;
  color: #333;
}

a {
  color: #006db7 !important;
}

a:visited {
  color: #666;
}

.titleCase {
  text-transform: capitalize;
}

.bgGrey {
  background-color: #EEE;
  width: 100%;
  min-width: 960px;
}

.banner {
  min-width: 960px;
  height: 3px;
  background-color: #006db7;
}

.contents {
  width: 960px;
}

.contentBox {
  border-top-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-box-shadow: 0px 3px 10px 0px #999;
  -webkit-box-shadow: 0px 3px 10px 0px #999;
  box-shadow: 0px 3px 10px 0px #999;
  padding: 0;
  display: block;
  background: white;
  margin: auto;
  width: 920px;
  padding: 20px;
  margin-top: 5px;
  padding-bottom: 30px;
}

.contentBoxHome {
  border-top-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-box-shadow: 0px 3px 10px 0px #999;
  -webkit-box-shadow: 0px 3px 10px 0px #999;
  box-shadow: 0px 3px 10px 0px #999;
  padding: 0;
  display: block;
  background: white;
  margin: auto;
  width: 920px;
  padding: 20px;
  margin-top: 5px;
  padding-bottom: 10px;
}

header {
  -moz-box-shadow: 0px 0px 10px 0px #999;
  -webkit-box-shadow: 0px 0px 10px 0px #999;
  box-shadow: 0px 0px 10px 0px #999;
  height: 90px;
}

textarea {
  resize: none;
}

.nav {
  width: 745px;
  height: 90px;
  display: block;
  background-color: #006db7;
}

.search {
  width: 100%;
  height: 50px;
}

.mainImage {
  height: 107px;
}

.mainImageSub {
  height: 307px;
}

/*alignment*/

.center {
  margin-left: auto;
  margin-right: auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.ar {
  text-align: right;
}

.al {
  text-align: left;
}

.ac {
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.clear {
  clear: both;
}

.date {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-align: right;
  width: 960px;
  margin-top: -3px;
  margin-bottom: 3px;
  height: 14px;
}

.welcome {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  margin-left: 25px;
  margin-top: 20px;
  color: #FFF;
}

.phone {
  font-family: "Dosis";
  font-size: 24px;
  margin-right: 47px;
  margin-top: 10px;
  margin-bottom: 8px;
  color: #FFF;
  text-align: right;
  letter-spacing: 1px;
}

/*Margins*/
.spaceAround {
  margin: 30px auto !important;
}

.mgnTContent {
  margin-top: 370px !important;
}

.mgnT10 {
  margin-top: 10px !important;
}

.mgnT14 {
  margin-top: 14px !important;
}

.mgnT20 {
  margin-top: 20px !important;
}

.mgnL15 {
  margin-left: 15px !important;
}

.mgnLB {
  margin-left: 34px;
}

.mgnB30 {
  margin-bottom: 30px;
}

.mgnBI {
  margin-bottom: 0px;
}

.lineRuleSolid {
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  width: auto;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: #999;
  border-top-width: thin;
  height: 1px !important;
}

.contentLeft {
  width: 605px;
  float: left;
  text-align: left;
}

.contentRight {
  width: 280px;
  position:relative;
  float: right;
}

.contentRight input {
  padding: 3px 0;
  margin: 0px;
  width: 273px;
  text-indent: 3px;
}

.contentRight textarea {
  padding: 0px;
  margin: 0px;
  width: 274px;
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 3px;
  padding-top: 5px;
}

.contentRight ul {
  list-style-type: none;
  margin: 0;
}

.contact input {
  padding: 0px;
  margin: 0px;
  width: 273px;
}

.contact textarea {
  padding: 0px;
  margin: 0px;
  width: 274px;
  font-family: Arial, Helvetica, sans-serif;
}

.bucket {
  width: 290px;
}

p.safe {
  padding-left: 60px;
  background: url('../img/safe_icon.gif') top left no-repeat;
}

p.convenient {
  padding-left: 60px;
  background: url('../img/convenient_icon.gif') top left no-repeat;
}

p.costeffective {
  padding-left: 60px;
  background: url('../img/cost_effective_icon.gif') top left no-repeat;
}

p.ecofriendly {
  padding-left: 60px;
  background: url('../img/eco_friendly_icon.gif') top left no-repeat;
}

.moreInfo {
  float: right;
  color: #006db7;
  margin: 0px;
}

.footerGrey {
  border-top-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-box-shadow: 0px 3px 10px 0px #999;
  -webkit-box-shadow: 0px 3px 10px 0px #999;
  box-shadow: 0px 3px 10px 0px #999;
  padding: 0;
  display: block;
  background: #EEE;
  margin: auto;
  width: 716px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 224px;
  height: 20px;
}

.footerBlue {
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-box-shadow: 0px 3px 10px 0px #999;
  -webkit-box-shadow: 0px 3px 10px 0px #999;
  box-shadow: 0px 3px 10px 0px #999;
  padding: 0;
  display: block;
  background: #006db7;
  margin-bottom: 40px;
  width: 920px;
  padding: 20px;
}

.footerDoctor {
  margin-top: -36px;
  margin-left: 12px;
  position: absolute;
}

.footerContent {
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #CCC;
  margin-top: 10px;
  position: relative;
}

.floatRight{
  position: :relative;
}

img.gplus_icon{
  width: 40px;
  right:1px;
  position:absolute;
}

.footerContent a {
  color: #CCC !important;
}

.footerContent p {
  color: #CCC !important;
  margin: 3px;
}

.footerContent div {
  color: #CCC !important;
  margin: 3px;
}

.footerContent h3 {
  color: #CCC !important;
}

.bigGreenButton {
  background-image: linear-gradient(bottom, rgb(138, 169, 65) 14%, rgb(164, 212, 60) 91%);
  background-image: -o-linear-gradient(bottom, rgb(138, 169, 65) 14%, rgb(164, 212, 60) 91%);
  background-image: -moz-linear-gradient(bottom, rgb(138, 169, 65) 14%, rgb(164, 212, 60) 91%);
  background-image: -webkit-linear-gradient(bottom, rgb(138, 169, 65) 14%, rgb(164, 212, 60) 91%);
  background-image: -ms-linear-gradient(bottom, rgb(138, 169, 65) 14%, rgb(164, 212, 60) 91%);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.14, rgb(138, 169, 65)), color-stop(0.91, rgb(164, 212, 60)));
  color: #FFFFFF !important;
  font-family: "Dosis";
  font-size: 14px;
  letter-spacing: 5px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  margin-left: 4px;
  padding: 3px 16px;
  border: none;
  margin: 0 auto;
}

.bigGreenButton:hover {
  background: #a3d43c !important;
  color: #FFF !important;
}

.bigGreenButton--inline {
  display: inline-block;
  width: auto;
}

.bigBlueButton a {
  background-image: linear-gradient(bottom, rgb(0, 110, 183) 14%, rgb(0, 136, 209) 90%);
  background-image: -o-linear-gradient(bottom, rgb(0, 110, 183) 14%, rgb(0, 136, 209) 90%);
  background-image: -moz-linear-gradient(bottom, rgb(0, 110, 183) 14%, rgb(0, 136, 209) 90%);
  background-image: -webkit-linear-gradient(bottom, rgb(0, 110, 183) 14%, rgb(0, 136, 209) 90%);
  background-image: -ms-linear-gradient(bottom, rgb(0, 110, 183) 14%, rgb(0, 136, 209) 90%);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.14, rgb(0, 110, 183)), color-stop(0.9, rgb(0, 136, 209)));
  color: #FFFFFF !important;
  font-family: "Dosis";
  font-size: 14px;
  letter-spacing: 5px;
  padding: 2px;
  text-decoration: none;
  display: block;
  width: 270px;
  text-transform: uppercase;
  margin-left: 4px;
}

.bigBlueButton a:hover {
  background: #0087d1 !important;
  color: #FFF !important;
}

.social {
  background-image: url(../img/social.gif);
  background-position: 58px 4px;
  background-repeat: no-repeat;
  display: block;
}

.stock {
  float: right;
  margin: 5px 10px;
  padding: 0px;
  border: 0px solid #ccc;
}

.imgBorder {
  border: 1px solid;
  border-color: #B1B1B1;
}

.imgBorder img {
  border: 1px solid;
  border-color: #B1B1B1;
}

.captcha img {
  width: 136px;
  height: 30px;
}

.captchaInput {
  width: 127px !important;
  margin-top: 0px !important;
  padding: 2px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  vertical-align: top;
}

.form {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.seo-h2-meta-tag {
  font-size: 24px;
  font-family: "Dosis";
  margin: 0px;
  font-weight: lighter;
  line-height: 20pt;
  color: #4c4c4c;
}

.heading {
  font-size: 34px;
  font-family: "Dosis";
  margin: 0px;
  font-weight: lighter;
  line-height: 20pt;
  color: #4c4c4c;
}

.meta_tag_h1 {
  float: left;
  font-size: 20px;
  line-height: 40px;
}

.meta_tag_h2 {
  font-size: 20px;
  line-height: 40px;
}


.fb_iframe_widget iframe {
  margin-top: -6px;
}


.fb_iframe_widget{
  margin:15px 10px 20px !important;
}

.btn{ padding: 5px 40px;
  border-radius: 6px;
  background-color: #006db7;
  float: right;
  clear: both;
  margin-top: 37px;
  margin-right: 55px;
  opacity: 0.8;
  cursor: pointer;
}

.slides_container .btn {
  position: absolute;
  bottom: -23px;
  right: 10px;
}

.btn:hover{
  opacity:1;
  background-color:#00375C;
}

.btn h6, .btn p {
  text-align:center;
  color:white;
}

.btn p {
  margin:0px;
}

/* vendor */

.parsley-success {
  border-radius: 3px;
  padding: 3px 0;
}

.parsley-error {
  border-radius: 3px;
  padding: 3px 0;
}
