@import url(http://fonts.googleapis.com/css?family=Dosis);
#testimonials {
	z-index:-500 !important;
	width:280px;
	height:100px;
	display:block;
	margin-top:14px;
}

#testimonials .testimonials_container {
	z-index:-500 !important;
	width:280px;
	height:100px;
	overflow:hidden;
	display:none;
}

#testimonials .testimonials_container a {
	z-index:-500 !important;
	display:block;
}

.testimonials_container a img {
	display:block;
}

.paginationT {
	width:200px;
	position: absolute;
	top: 90px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	z-index: 200;
}

.paginationT li {
	float:left;
	margin-top: 0;
	margin-right: 10px;
	margin-bottom: 0;
	margin-left: 10px;
	list-style-image: none;
	list-style-type: none;
}

.paginationT li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.paginationT li.current a {
	background-position:0 -12px;
}

#testimonials .nextT, #testimonials .prevT {
	width:60px;
	height:100px;
	display:block;
	z-index:200;
	display:block;
	background-color:transparent;
	border-radius:3px;
}

.prevT a {
	width:60px;
	height:100px;
	display:block;
	background-image:url(../img/prev.png);
	background-position:top;
}
.prevT a:hover{
	background-position:bottom;
}
.nextT a {
	width:60px;
	height:100px;
	display:block;
	background-image:url(../img/next.png);
	background-position:top;
}
.nextT a:hover{
	background-position:bottom;
}
#testimonials .next {
	right:0px;
	float:right;
}
#testimonials .prev {
	left:0px;
	float:left;
}

.testimonials_container div.slide {
	width:280px;
	height:100px;
	display:block;
}


/*------------------------------------------------------------------------------------------DUPE------------------------------------------------------*/

.center{ margin-left:auto; margin-right:auto;}

.idxT1{
	width:280px;
	height:100px;
	cursor: pointer;
	font-family:"Dosis";
	color:#006db7 !important;
	font-size:28px;
}
.idxT2{
	width:280px;
	height:100px;
	cursor: pointer;
	font-family:"Dosis";
	color:#006db7 !important;
	font-size:28px;
}