$logo-width: rem(200px);
$logo-width-medium: rem(224px);
$logo-width-large: rem(274px);

.header--expanded {
  @include default(box-shadow);
  display: none;

  @include after(medium-screens) {
    display: flex;
  }
}

.header--condensed {
  @include after(medium-screens) {
    display: none;
  }
}

.logo {
  padding: spacing(tight);
  max-width: $logo-width - spacing() * 2;

  @include after(medium-screens) {
    max-width: $logo-width-medium - spacing() * 2;
  }

  @include after(large-screens) {
    max-width: $logo-width-large;
  }
}

.blue-gradient {
  background: default(gradient);
}

.nav {
  flex: 1 1 auto;
  background-color: #006db7;
}

.welcome {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  margin-left: 35px;
  margin-top: 20px;
  color: #FFF;

  @include before(medium-screens) {
    display: none;
  }
}

.phone {
  @include font-size(small);
  font-family: 'Dosis';
  margin-right: 47px;
  margin-top: 10px;
  margin-bottom: 8px;
  color: #FFF;
  text-align: right;
  letter-spacing: 1px;

  @include after(large-screens) {
    @include font-size(large);
  }
}
