$bucket-icon-and-padding-size: 60px;

.list {
  * {
    margin: 0;
    text-decoration: none;
    list-style: none;
  }
}

.list--inline {
  * {
    display: inline-block;
  }
}

.list--right-aligned {
  * {
    text-align: right;
  }
}

.list--flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.services {
  columns: 3;
  padding-left: $bucket-icon-and-padding-size;
}
