$dropdownWidth: 215px;

.expanded {
  display: flex;
  flex-wrap: wrap;
}

.expanded li {
  flex: 1 1 auto;
  position: relative;
  display: inline-block;
  padding: 1px spacing(tight);
}

.expanded, .expanded ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.expanded a {
  @include color(white, base);
  @include font-size(small);
  display: block;
  text-decoration: none;
  font-family: "Dosis";
  font-weight: bold;
  height: 30px;
  transition: font-size 0.2s ease-in-out;

  @include before(large-screens) {
    padding: (spacing(tight) / 2) 0 0;
  }

  @include after(large-screens) {
    @include font-size(large);
    height: 43px;
  }
}

.expanded ul a {
  height: auto;
}

.expanded li ul {
  @include default(box-shadow);
  position: absolute;
  border-radius: 0 0 default(border-radius) default(border-radius);
  width: $dropdownWidth;
  margin-left: calc(50% - #{$dropdownWidth} / 2);
  padding: spacing(tight) / 2;
  background-color: #ededed;
  z-index:1000;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
  margin-top: 1px;
}

.expanded li:hover ul, .expanded li.sfhover ul  {
  opacity: 1;
  pointer-events: all;
}

.navCover {
  background-color: #ededed;
  position: relative;
}

.expanded li ul li {
  margin: 5px 0 0;
  display: block;
  border-bottom: 1px dashed #999;
  border-spacing: 10px;
  padding-bottom: 5px;
}

.expanded li ul li.noBorder {
  border: none;
}

.expanded li ul li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
  max-width: $dropdownWidth;
  color: #262626;
}

.expanded li ul li a:hover {
  color: #94c400;
}

#content {
  clear: left;
  color: #ccc;
  font-weight: bolder;
  animation: ease-in-out alternate;
  z-index: 500;
}

.arrow {
  background-image: url(../img/menu.png);
  background-position: center 150%;
  background-repeat: no-repeat;
  transition: background-position 0.2s ease-in-out;
}

.arrow:hover {
  background-position: center bottom;
}

// Mobile menu styles

.menu--condensed {
  @include transition(transform property(ease-in-out));
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  transform: translate3d(100%, 0, 0);
  background-color: color(gray);

  @include after(medium-screens) {
    display: none;
  }

  &.menu-is-visible {
    transform: translate3d(0, 0, 0);
  }
}

.condensed {
  margin-top: spacing(loose) * 2;
  padding: spacing(loose);
}

.menu-list__item {
  @include font-size(medium);
  @include color(blue);
  position: relative;
  padding: spacing() 0;
  z-index: 4;
}

.menu-dismiss {
  position: absolute;
  top: 0;
  right: 0;
  padding: spacing(loose);
}

.list__chevron {
  position: absolute;
  transform: translate(spacing() * -1, 0);
  margin-top: spacing(tight);
  right: 0;

  &:after,
  &:before {
    @include transition(transform property(ease-in-out));
    content: "";
    position: absolute;
    background-color: color(blue);
    width: 3px;
    height: 9px;
  }

  &:before {
    transform: translate(-2px, 0) rotate(45deg);
  }

  &:after {
    transform: translate(2px, 0) rotate(-45deg);
  }
}

.list__hidden-content {
  @include transition(
    opacity property(ease-in-out),
    transform property(ease-in-out),
    max-height property(ease-in-out-slow)
  );
  position: relative;
  padding-left: 0;
  max-height: 800px;
  z-index: 2;

  .menu-list__item {
    @include font-size(small);
    padding: spacing(tight);

    &:first-of-type {
      padding-top: spacing(loose);
    }
  }
}

.list__hidden-toggle {
  @include before(medium-screens) {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;

    &:checked {
      z-index: 3;

      &~.list__hidden-content {
        pointer-events: none;
        margin-top: 0;
        max-height: 0;
        opacity: 0;
        transform: translateY(spacing() * -1);
      }

      &~.menu-list__item {
        z-index: 1;
      }


      &~.list__chevron {
        &:before {
          transform: translate(2px, 0) rotate(45deg);
        }

        &:after {
          transform: translate(-2px, 0) rotate(-45deg);
        }
      }
    }
  }

  @include after(medium-screens) {
    display: none;
  }
}
