.ui-stack {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > * {
    flex: 0 1 auto;
  }
}

.ui-stack__element--spaced {
  margin: spacing();
}

.ui-stack__element--fill-space {
  flex: 1 1 auto;
}
