/* CSS Document */

/*
  Primary Styles
  Author: Kyle Durand
*/

$contactFormWidth: 274px;

ul {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  list-style-type: cicrle;
  color: #333;
}

a {
  color: #006db7;
}

a:visited {
  color: #666;
}

.titleCase {
  text-transform: capitalize;
}

.bgGrey {
  background-color: #EEE;
  width: 100%;
  max-width: 960px;
}

.banner {
  height: 3px;
  background-color: color(blue, base);
}

.contents {
  max-width: $siteMaxWidth;
}

.contentBox {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0px 3px 10px 0px #999;
  padding: 0;
  display: block;
  background: white;
  margin: auto;
  max-width: $siteMaxWidth;
  padding: 20px;
  margin-top: 5px;
  padding-bottom: 30px;
}

.contentBoxHome {
  text-align: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0px 3px 10px 0px #999;
  padding: 0;
  display: block;
  background: white;
  margin: auto;
  max-width: $siteMaxWidth;
  padding: 20px;
  margin-top: 5px;
  padding-bottom: 10px;
}

header {
  display: flex;
  box-shadow: 0px 0px 10px 0px #999;
  min-height: 90px;
}

textarea {
  resize: none;
}

.nav {
  flex: 1 1 auto;
  background-color: #006db7;
}

.search {
  width: 100%;
  height: 50px;
}

.mainImage {
  height: 107px;
}

.mainImageSub {
  height: 307px;
}

/*alignment*/

.center {
  margin-left: auto;
  margin-right: auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.ar {
  text-align: right;
}

.al {
  text-align: left;
}

.ac {
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.clear {
  clear: both;
}

.date {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-align: right;
  max-width: 960px;
  margin-top: -3px;
  margin-bottom: 3px;
  height: 14px;
}

.welcome {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  margin-left: 25px;
  margin-top: 20px;
  color: #FFF;
}

.phone {
  font-family: 'Dosis';
  font-size: 24px;
  margin-right: 47px;
  margin-top: 10px;
  margin-bottom: 8px;
  color: #FFF;
  text-align: right;
  letter-spacing: 1px;
}

/*Margins*/
.spaceAround {
  margin: 30px auto;
}

.mgnTContent {
  margin-top: 370px;
}

.mgnT10 {
  margin-top: 10px;
}

.mgnT14 {
  margin-top: 14px;
}

.mgnT20 {
  margin-top: 20px;
}

.mgnL15 {
  margin-left: 15px;
}

.mgnLB {
  margin-left: 34px;
}

.mgnB30 {
  margin-bottom: 30px;
}

.mgnBI {
  margin-bottom: 0px;
}

.lineRuleSolid {
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  width: auto;
  border-top: thin solid #999;
  height: 1px;
}

.contentLeft {
  max-width: calc(100% - #{$contactFormWidth + 6});
  display: inline-block;
  text-align: left;
  vertical-align: top;
  padding-right: default(spacing) * 2;

  @include before(medium) {
    max-width: 100%;
  }
}

.contentRight {
  position: relative;
  width: $contactFormWidth;
  display: inline-block;
  text-align: left;
  vertical-align: top;

  @include before(medium) {
    width: 100%;
  }
}

.contentRight input,
.contentRight textarea {
  @include default(border-radius);
  @include default(border);
  padding: 6px 0;
  margin: 0px;
  width: calc(100% - 2px);
  text-indent: 3px;
}

.contentRight textarea {
  padding-top: 5px;
}

.contentRight ul {
  list-style-type: none;
  margin: 0;
}

.contact input {
  padding: 0px;
  margin: 0px;
  width: 273px;
}

.contact textarea {
  padding: 0px;
  margin: 0px;
  width: 274px;
  font-family: Arial, Helvetica, sans-serif;
}

.bucket {
  width: 50%;

  @include before(medium) {
    width: 100%;
  }

  p {
    min-height: 44px;
  }
}

.compliances {
  text-align: center;
}

.compliance-image {
  display: inline-block;
  vertical-align: top;
  max-width: calc(25% - #{default(spacing--small) - 3px});
  padding: default(spacing--small);

  @include before(small) {
    max-width: calc(50% - #{default(spacing--small) - 3px});
  }
}

p.safe {
  padding-left: 60px;
  background: url('../img/safe_icon.gif') top left no-repeat;
}

p.convenient {
  padding-left: 60px;
  background: url('../img/convenient_icon.gif') top left no-repeat;
}

p.costeffective {
  padding-left: 60px;
  background: url('../img/cost_effective_icon.gif') top left no-repeat;
}

p.ecofriendly {
  padding-left: 60px;
  background: url('../img/eco_friendly_icon.gif') top left no-repeat;
}

.moreInfo {
  float: right;
  color: #006db7;
  margin: 0px;
}

.footerGrey {
  box-shadow: 0px 3px 10px 0px #999;
  padding: 0;
  display: block;
  background: #EEE;
  margin: auto;
  max-width: $siteMaxWidth;
  padding: 0 (default(spacing) * 2) 0 224px;
}

.footerBlue {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0px 3px 10px 0px #999;
  padding: 0;
  display: block;
  background: #006db7;
  max-width: $siteMaxWidth;
  padding: 20px;
}

.footerDoctor {
  margin-top: -36px;
  margin-left: 12px;
  position: absolute;
}

.footerContent {
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #CCC;
  margin-top: default(spacing) * 5;
  position: relative;
}

.floatRight{
  position: relative;
}

img.gplus_icon{
  width: 40px;
  right:1px;
  position:absolute;
}

.footerContent a {
  color: #CCC;
}

.footerContent p {
  color: #CCC;
  margin: 3px;
}

.footerContent div {
  color: #CCC;
  margin: 3px;
}

.footerContent h3 {
  color: #CCC;
}

.bigGreenButton {
  @include color(white, base);
  background-image: linear-gradient(to top, rgb(138, 169, 65) 14%, rgb(164, 212, 60) 91%);
  border-radius: 6px;
  font-family: 'Dosis';
  font-size: 14px;
  letter-spacing: 5px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  margin-left: 4px;
  padding: 3px 16px;
  border: none;
  margin: 0 auto;
}

.bigGreenButton:hover {
  @include color(white, base);
  background: #a3d43c;
}

.bigGreenButton--inline {
  display: inline-block;
  width: auto;
}

.bigBlueButton a {
  background-image: linear-gradient(to top, rgb(0, 110, 183) 14%, rgb(0, 136, 209) 90%);
  border-radius: 6px;
  color: #FFFFFF;
  font-family: 'Dosis';
  font-size: 14px;
  letter-spacing: 5px;
  padding: 2px;
  text-decoration: none;
  display: block;
  max-width: 270px;
  text-transform: uppercase;
  margin-left: 4px;
}

.bigBlueButton a:hover {
  background: #0087d1;
  color: #FFF;
}

.social {
  background-image: url(../img/social.gif);
  background-position: 58px 4px;
  background-repeat: no-repeat;
  display: block;
}

.stock {
  float: right;
  margin: 5px 10px;
  padding: 0px;
  border: 0px solid #ccc;
}

.imgBorder {
  border: 1px solid;
  border-color: #B1B1B1;
}

.imgBorder img {
  border: 1px solid;
  border-color: #B1B1B1;
}

.captcha img {
  width: 136px;
  height: 30px;
}

.captchaInput {
  width: 127px;
  margin-top: 0px;
  padding: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  vertical-align: top;
}

.form {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.seo-h2-meta-tag {
  font-size: 24px;
  font-family: 'Dosis';
  margin: 0px;
  font-weight: lighter;
  line-height: 20pt;
  color: #4c4c4c;
}

.heading {
  font-size: 34px;
  font-family: 'Dosis';
  margin: 0px;
  font-weight: lighter;
  line-height: 20pt;
  color: #4c4c4c;
}

.meta_tag_h1 {
  float: left;
  font-size: 20px;
  line-height: 40px;
}

.meta_tag_h2 {
  font-size: 20px;
  line-height: 40px;
}


.fb_iframe_widget iframe {
  margin-top: -6px;
}


.fb_iframe_widget{
  margin:15px 10px 20px;
}

.btn{
  border-radius: default(border-radius) * 2;
  padding: 5px 40px;
  background-color: #006db7;
  float: right;
  clear: both;
  margin-top: 37px;
  margin-right: 55px;
  opacity: 0.8;
  cursor: pointer;
}

.slides_container .btn {
  position: absolute;
  bottom: -23px;
  right: 10px;
}

.btn:hover{
  opacity:1;
  background-color:#00375C;
}

.btn h6, .btn p {
  text-align:center;
  color:white;
}

.btn p {
  margin:0px;
}

/* vendor */

.parsley-success {
  border-radius: 3px;
  padding: 3px 0;
}

.parsley-error {
  border-radius: 3px;
  padding: 3px 0;
}
