#testimonials {
    z-index: -500!important;
    width: 280px;
    height: 100px;
    display: block;
    margin-top: 14px
}

#testimonials .testimonials_container {
    z-index: -500!important;
    width: 280px;
    height: 100px;
    overflow: hidden;
    display: none
}

#testimonials .testimonials_container a {
    z-index: -500!important;
    display: block
}

.testimonials_container a img {
    display: block
}

.paginationT {
    width: 200px;
    position: absolute;
    top: 90px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    z-index: 200
}

.paginationT li {
    float: left;
    list-style-image: none;
    list-style-type: none;
    margin: 0 10px
}

.paginationT li a {
    display: block;
    width: 12px;
    height: 0;
    padding-top: 12px;
    background-image: url(../img/pagination.png);
    background-position: 0 0;
    float: left;
    overflow: hidden
}

.nextT a,
.prevT a {
    width: 60px;
    display: block
}

.paginationT li.current a {
    background-position: 0 -12px
}

#testimonials .nextT,
#testimonials .prevT {
    width: 60px;
    height: 100px;
    z-index: 200;
    display: block;
    background-color: transparent;
    border-radius: 3px
}

.prevT a {
    height: 100px;
    background-image: url(../img/prev.png);
    background-position: top
}

.prevT a:hover {
    background-position: bottom
}

.nextT a {
    height: 100px;
    background-image: url(../img/next.png);
    background-position: top
}

.nextT a:hover {
    background-position: bottom
}

#testimonials .next {
    right: 0;
    float: right
}

#testimonials .prev {
    left: 0;
    float: left
}

.testimonials_container div.slide {
    width: 280px;
    height: 100px;
    display: block
}

.center {
    margin-left: auto;
    margin-right: auto
}

.idxT1,
.idxT2 {
    width: 280px;
    height: 100px;
    cursor: pointer;
    font-family: Dosis;
    color: #006db7!important;
    font-size: 28px
}
