#nav, #nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

#nav a {
  @include color(white, base);
  display: block;
  text-decoration: none;
  font-family: "Dosis";
  font-weight: bold;
  font-size: 20px;
  height: 40px;
}

#nav li {
  float: left;
  width: auto;
  height: 30px;
  margin-right: 26px;
  margin-left: 26px;
  height: 40px;
}

#nav li ul {
  @include default(box-shadow);
  position: absolute;
  border-radius: 0 0 default(border-radius) default(border-radius);
  width: 215px;
  padding: default(spacing--small) / 2;
  left: -999em;
  background-color: #ededed;
  z-index:1000;
}

.aboutSub {
  margin-left: -66px !important;
}

.servicesSub {
  margin-left: -54px !important;
}

.productsSub {
  margin-left: -66px !important;
}

.contactSub {
  margin-left: -80px !important;
}

.navCover {
  background-color: #ededed;
  position: relative;
}

#nav li ul li {
  height: 15px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px;
  margin-bottom: 0px;
  display: block;
  width: 215px;
  border-bottom-style: dashed;
  border-right-style: none;
  border-top-style: none;
  border-left-style: none;
  border-bottom-color: #999;
  border-bottom-width: 1px;
  border-spacing: 10px;
  padding-bottom: 5px;
}

#nav li ul li.noBorder {
  border: none;
}

#nav li ul li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
  width: 215px;
  color: #262626;
}

#nav li ul li a:hover {
  color: #94c400;
}

#nav li:hover ul, #nav li.sfhover ul  {
  left: auto;
}

#content {
  clear: left;
  color: #ccc;
  font-weight: bolder;
  animation: ease-in-out alternate;
  z-index: 500;
}

.arrow:hover {
  background-image: url(../img/menu.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}
