#slides,
#slides .slides_container {
  z-index: 0;
  max-width: 960px;
  height: 350px;
  width: 100%;
}

#slides {
  display: block;
  position: relative
}

.slides_control {
  width: 100% !important;
}

#slides .slides_container {
  @include default(box-shadow);
  overflow: hidden;
  display: none;
}

#slides .slides_container a {
  z-index: -500;
  display: block;
}

.slides_container a img {
  display: block;
}

.pagination {
  display: none;
}

#slides .next,
#slides .prev,
.prev a {
  height: 350px;
  width: 60px;
  display: block;
}

.pagination li.current a {
  background-position: 0 -12px;
}

#slides .next,
#slides .prev {
  z-index: 200;
  background-color: transparent;
  border-radius: 3px;
  position: absolute;
}

.prev a {
  background-image: url(../img/prev.png);
  background-position: top;
}

.prev a:hover {
  background-position: bottom;
}

.next a {
  width: 60px;
  height: 350px;
  display: block;
  background-image: url(../img/next.png);
  background-position: top;
}

.idx1,
.idx2,
.idx3 {
  cursor: pointer;
  background-size: cover;
  width: 100%;
  max-width: 960px;
  height: 350px;
  display: block;
}

.next a:hover {
  background-position: bottom
}

#slides .next {
  right: 0;
  float: right
}

#slides .prev {
  left: 0;
  float: left
}

.slides_container div.slide {
  max-width: 960px;
  height: 350px;
  display: block
}

.floatLeft {
  float: left
}

.floatRight {
  float: right
}

.center {
  margin-left: auto;
  margin-right: auto
}

.idx1 {
  background-image: url(../img/banner_medical-waste-disposal.jpg)
}

.idx2 {
  background-image: url(../img/banner_ecologically-sustainable.jpg)
}

.idx3 {
  background-image: url(../img/banner_sharps-removal.jpg)
}

.mainImageText {
  font-family: Anton;
  color: #006db7;
  background-color: #FFF;
  opacity: .8;
  border-bottom-left-radius: 4px;
  padding-right: 5px
}

.mainImageText a:hover {
  opacity: .5
}

.textBox1 {
  width: 300px;
  margin: 15px 5px 5px;
  text-align: right
}

.textBox2 {
  margin-top: 10px;
  color: #000;
  clear: both;
  width: 260px;
  padding: 15px 20px 20px;
  border-top: 1px solid grey
}

.shadow {
  -moz-box-shadow: 0 0 10px 0 #999;
  -webkit-box-shadow: 0 0 10px 0 #999;
  box-shadow: 0 0 10px 0 #999
}

.space {
  height: 10px
}

.mainImageText h2,
.mainImageText h5 {
  text-align: center
}
