/* Body */

body { 
	font: 12px Arial, Veranda, Tahoma, sans-serif; 
	line-height: 19px;
	background: #FFF; 
	color: #4C4C4C; 
}

/* Text Properties */

a {
	color: #0C5283;
	border: 0px;
	}

a:hover {color: #0C5283;}

p {margin: 0 0 15px 0; }

h1 { font: 1.6em Trebuchet MS, Arial, Sans-Serif;}

h2 {font: .85em Trebuchet MS, Arial, Sans-Serif; margin-bottom: 12px;}

/* Top Section */

#blueBar {
	margin: 0 auto;
	width: 100%;
	height: 16px;
	background: #006EB9;
}

#gradientBar {
	margin: 0 auto;
	width: 100%;
	height: 33px;
	background: #FFF url('gradientBar.gif') repeat-x;
}

/* Container: Header + Navigation */

#headerContainer {
	margin: 0 auto;
	width: 780px;
	height: 90px;
}

#logoBox {
	float: left;
	margin-right: 14px;
	border-right: 1px solid #EDEDED;
}

#navigationContainer {	
	float: right;
	font-family: Arial, Veranda, Tahoma, sans-serif;
	padding-top: 20px;
	width: 547px;	
}

#navigationContainer a {
	font-size: 17px;
	text-decoration: none;
}

#captionContainer { 
	float:left;
	margin-left: 10px;
	margin-top: 2px;
	font-size: 10px;
	color: #4C4C4C;
	text-transform: uppercase;
}

.date {
	margin: 0 auto;
	width: 780px;
	text-align: right;
	padding-top: 5px;
	text-transform: uppercase;
	font-size: 10px;
	color:#999;
}

.buttonS { 
	margin-right: 1px;
	float: left;
	width: 62px;
	height: 20px;
	text-align: center;
	border: 0px solid #000;
	background: #FFF url('buttonS.gif');
}

.buttonS:hover {
	background: #F1F1F1 url('buttonS.gif');
}

.buttonM {
	margin-right: 1px;
	float: left;
	width: 95px;
	height: 20px;
	text-align: center;
	border: 0px solid #000;
	background: #FFF url('buttonM.gif');
}

.buttonM:hover {
	background: #F1F1F1 url('buttonM.gif');
}

.buttonL {
	margin-right: 1px;
	float: left;
	width: 110px;
	height: 20px;
	text-align: center;
	border: 0px solid #000;
	background: #FFF url('buttonL.gif');
}

.buttonL:hover {
	background: #F1F1F1 url('buttonL.gif');
}

.bullet {
	background: url("bullet.gif") no-repeat 0px 5px;
    margin: 0;
    padding-left: 14px;
    padding-top: 3px;
}

/*Index Icons*/

p.safe {
	padding-left: 60px;
	background: url('safe_icon.gif')  top left no-repeat;
}

p.convenient {
	padding-left: 60px;
	background:  url('convenient_icon.gif') top left no-repeat;
}

p.costeffective {
	padding-left: 60px;
	background: url('cost_effective_icon.gif') top left no-repeat;
}

p.ecofriendly {
	padding-left: 60px;
	background: url('eco_friendly_icon.gif') top left no-repeat;
}

/* Content */

#contentContainer {
	margin: 0 auto;
	width: 780px;
	height: 500px;
	background: url('BGlogo.gif') no-repeat top left;
}

.welcome {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 15px;
}

.headerimage {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 15px;
	padding-top: 8px;
}

/* Left Float */

#left {
	margin: 0;
	padding: 0px;
	float: left;
	width: 510px;
	text-align: justify;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
}
	
p.heading {
	font-size: 15px;	
}

#left h1 { 
	border-bottom: 1px solid #72160F; 
	padding: 0 0 4px; 
}

#left h2 {
	padding: 1px 1px 1px 1px;
	color: #851D0E;

}

.image {
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;

}

/* Right Float */

#right { 
	float: right; 
	width: 240px; 
	padding-left: 5px; 
	font-size: 11px; 
	margin: 0; 
	color: #929292;
}

#rightAbout { 
	clear: left; 
	float: right; 
	width: 200px;
	height: 100px; 
	padding: 5px; 
	padding-top: 820px;
	font-size: 9px; 
	margin: 0; 
	background: #33110C url('rightAbout.gif') no-repeat top right;
}

p.right_heading {
	margin-bottom: 6px;
}

.right_list {
	list-style-type: square;  
	display: block;
	margin-left: 25px; 
	background: inherit;
	float: left;
}

#right ul li {
	float: none;
}

	
.secondaryBox {
	margin-top: 20px;
	height: tobottom;
	padding: 9px;
	background: #37110B;
	border: 1px solid #3B110A;
}

.clear {
 	clear: both;
}


/* Top Footer */

#footer_top {
	clear: both; 
	margin: 0 auto;
	padding-top: 16px;
	width: 100%;
	height: 126px;
	background: #FFF url('BG_top_footer.gif') repeat-x bottom left;
	color:  #E3EBF1;
}

#footerBoxContainer_top {
	margin: 0 auto;
	width: 780px;
	height: 126px;
	background: url('top_footer_image.gif') no-repeat;
}



/* Footer */
	
#footer {
	clear: both; 
	margin: 0 auto;
	padding-top: 10px;
	width: 100%;
	height: 145px;
	background: #005797 url('footerBG.gif') repeat-x top left;
	color:  #E3EBF1;
}

#footerBoxContainer {
	margin: 0 auto;
	width: 780px;
	height: 89px;

}

.footerBox {
	float: left;
	height: 118px;
	border-right: 1px solid #0B4974;
}

.footerBoxWide {
	float: right;
	text-align: right;
	width: 250px;
	height: 89px;
}

#footer p {
	padding: 5px 20px 5px 20px;
	
}

#footer p.left {
	padding: 5px 20px 5px 0px;
	
}

#footer p.right {
	padding: 5px 0px 5px 0px;
	
}

#footer a {
	padding: 1px 2px 1px 2px;
	color: #5B8AAC;
	text-decoration: none;
}

#footer a:hover {
	padding: 1px 2px 1px 2px;
	color: #E3EBF1;
	text-decoration: none;
}

.footerlogo {
	float: right;
	display: inline-block;
}

.highlight{
	background: #72160F;
	color: #fff;
	padding-left: 5px;
	padding-right: 5px;
}


/* Contact Form */

input.text { 
	font: 13px arial, Veranda, Tahoma, sans-serif;
	margin: 0; 
	width: 150px;
	border: 1px solid #33110C;
	background: #FFF;
	color: #000; 
}

textarea { 
	font: 13px arial, Veranda, Tahoma, sans-serif;
	margin: 0; 
	width: 215px;
	height: 100px;
	border: 1px solid #33110C;
	background: #FFF;
	color: #000; 
}

input.text:hover { 
	background: #FFFF99; 
}

textarea:hover { 
	background: #FFFF99; 
}

.formBox {
	padding-top: 30px;
	padding-bottom: 20px;
	width: 360px;
	background: #F1F1F1 url('contactformBG.gif') no-repeat top;
}

#rightC { 
	clear: left; 
	float: right; 
	text-align: right;
	width: 170px; 
	padding: 15px; 
	padding-top: 45px;
	font-size: 9px; 
	margin: 0; 
	background: #33110C url('friendslinksBG.gif') no-repeat top right;
}



/* Hacks */

html*#navigationContainer a:hover {
	
	font-size: 14px;
	text-decoration: underline;
}

*{ 
	margin: 0; 
	padding: 0; 
} 


/* mainNav */

ul {
  margin: 0;
  padding: 0;
  float: right;
  background: #FFF;
  list-style: none;
}

ul li {
  float: left;
}

ul a {
  float: left;
  display: block;
  text-decoration: none;
	height: 20px;	
  color: #FFF;

}

ul a:hover {
  background: #E3EBF1;
}

ul .active a {
  /* background: #FFFF99; */
}

ul .active a:hover {
  background: #FFFF99;
}
	